/**
 * Set the default site typography
 *
 * Version: 1.0.0
 */

body {
  background: $body-bg;
  color: $colour-base;
  letter-spacing: 0.05em;
  font-family: $font-base;
  font-size: $font-size-base;
}
