// LINK STATES
//
// Instead of using the &:hover, &:focus, etc. Use one of these mixins to 
// quickly add link states in one single line.
//
// Version: 1.0.0

@mixin hover {
  &:hover {
    @content;
  }
}

@mixin focus {
  &:focus {
    @content;
  }
}

@mixin visited {
  &:visited {
    @content;
  }
}

@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}


// Y OR X MARGIN
// 
// Save on lines with the Y or X axis margin mixin. Each mixin (margin-y or 
// margin-x) will add the necessary margin styles. All you need to do is 
// provide the values in each of the args ($top, $bottom) for the margin-y 
// mixin or ($left, $right) for the margin-x mixin.
//
// Version: 1.0.0

@mixin margin-y($top, $bottom) {
  margin-top: $top !important;
  margin-bottom: $bottom !important;
}

@mixin margin-x($left, $right) {
  margin-left: $left !important;
  margin-right: $right !important;
}


// Y OR X PADDING
// 
// Save on lines with the Y or X axis padding mixin. Each mixin (padding-y or 
// padding-x) will add the necessary padding styles. All you need to do is 
// provide the values in each of the args ($top, $bottom) for the padding-y 
// mixin or ($left, $right) for the padding-x mixin.
//
// Version: 1.0.0

@mixin padding-y($top, $bottom) {
  padding-top: $top !important;
  padding-bottom: $bottom !important;
}

@mixin padding-x($left, $right) {
  padding-left: $left !important;
  padding-right: $right !important;
}


// BUTTON
//
// Sets up a button display.
//
// Version: 1.0.0

@mixin button(
  $padding,
  $border-radius,
  $border,
  $colour,
  $text-align,

  $hover-bg-colour,
  $hover-colour,
  $hover-outline,

  $focus-bg-colour:null,
  $focus-colour:null,
  $focus-outline:null,

  $visited-bg-colour:null,
  $visited-colour:null,
  $visited-outline:null
) {
  padding: $padding;
  border-radius: $border-radius;
  border: $border;
  color: $colour;
  text-align: $text-align;

  @include hover-focus {
    background-color: $hover-bg-colour;
    color: $hover-colour;
    outline: $hover-outline;
  }

  @include visited {
    background-color: $visited-bg-colour;
    color: $visited-colour;
    outline: $visited-outline;
  }
}

// SHOP BUTTON
//
// Add a button styled specifically for the shop.
//
// Version: 1.0.0

@mixin shop-btn($padding-y: 1rem, $padding-x: 2rem) {
  padding: $padding-y $padding-x !important;
  border-radius: 999px !important;
  background-color: $branding-primary !important;
  color: $white !important;
  letter-spacing: 0.05em;
  font-weight: 700 !important;
  text-transform: capitalize;
  text-align: center;
  transition: $link-transition !important;

  @include hover-focus {
    background-color: $branding-secondary !important;
    color: $branding-primary !important;
    outline: none !important;
  }
}


// NOTICE BOX
//
// Sets up a WooCommerce notice box.
//
// Version: 1.0.0

@mixin wc-notice-box(
  $padding-y,
  $padding-x,
  $border-r,
  $border-width: 1px,
  $border-top-width: 3px,
  $border-style: solid,
  $border-colour: $gray-300,
  $bg-colour: $gray-100,
  $colour: $gray-700,
  $tracking,
  $font-weight,
  $icon-display: none
) {
  @include padding-x($padding-x, $padding-x);
  @include padding-y($padding-y, $padding-y);
  border-radius: $border-r;
  border: $border-width $border-style $border-colour;
  border-top-width: $border-top-width;
  background-color: $bg-colour;
  color: $colour;
  letter-spacing: $tracking;
  font-weight: $font-weight;

  &:before {
    display: $icon-display;
  }
}
