// ---------- BREAKPOINTS
$break-sm:                                      640px !default;
$break-md:                                      768px !default;
$break-lg:                                      1024px !default;
$break-xl:                                      1280px !default;


// ---------- COLOUR SYSTEM

//*** GRAYSCALE
$gray-100:                                      hsl(204, 47%, 98%) !default;
$gray-200:                                      hsl(210, 40%, 95%) !default;
$gray-300:                                      hsl(215, 33%, 91%) !default;
$gray-400:                                      hsl(214, 25%, 84%) !default;
$gray-500:                                      hsl(213, 20%, 69%) !default;
$gray-600:                                      hsl(215, 15%, 52%) !default;
$gray-700:                                      hsl(217, 16%, 35%) !default;
$gray-800:                                      hsl(220, 23%, 23%) !default;
$gray-900:                                      hsl(221, 27%, 14%) !default;

//*** B&W
$black:                                         hsl(0, 0%, 0%) !default;
$white:                                         hsl(0, 0%, 100%) !default;

//*** STATE COLOURS
$colour-info:                                   hsl(217, 92%, 60%) !default;
$colour-success:                                hsl(160, 84%, 39%) !default;
$colour-warning:                                hsl(43, 97%, 56%) !default;
$colour-error:                                  hsl(0, 85%, 60%) !default;

$state-colours:(
  'info':     $colour-info,
  'success':  $colour-success,
  'warning':  $colour-warning,
  'error':    $colour-error
) !default;

//*** BRANDING
$branding-primary:                              hsl(216, 100%, 22%) !default;
$branding-secondary:                            hsl(359, 68%, 89%) !default;

$body-bg:                                       $white !default;

// ---------- TYPOGRAPHY

//*** FONT URL

$font-url:                                      'https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap' !default;

$font-sans-serif:                               system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-monospace:                                ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-base:                                     'Quicksand', $font-sans-serif !default;

//*** FONT SIZES
$font-size-xs:                                  0.75rem !default;
$font-size-sm:                                  0.875rem !default;
$font-size-md:                                  1rem !default;
$font-size-lg:                                  1.125rem !default;
$font-size-xl:                                  1.25rem !default;
$font-size-2xl:                                 1.5rem !default;
$font-size-3xl:                                 1.875rem !default;
$font-size-4xl:                                 2.25rem !default;
$font-size-5xl:                                 3rem !default;
$font-size-6xl:                                 4rem !default;

$font-size-base:                                $font-size-md !default;

//*** TEXT COLOURS
$colour-base:                                   $gray-700 !default;


// ---------- LINKS

//*** LINK COLOURS
$link-active-colour:                            hsl(220, 96%, 49%) !default;
$link-hover-colour:                             hsl(219, 89%, 29%) !default;
$link-focus-colour:                             $link-hover-colour !default;

//*** LINK DECORATION
$link-active-decoration:                        none !default;
$link-hover-decoration:                         none !default;
$link-focus-decoration:                         $link-hover-decoration !default;

//*** LINK OUTLINE
$link-outline:                                  none !default;

//*** LINK TRANSITION
$link-transition:                               0.25s ease all !default;


// ---------- HEADER

$header-padding-y-sml:                          2rem !default;
$header-padding-y-lrg:                          2rem !default;
$header-padding-x-sml:                          2rem !default;
$header-padding-x-lrg:                          4rem !default;

$header-mx:                                     auto !default;
$header-max-w:                                  1280px !default;

$header-bg-colour:                              $white !default;

//*** HEADER BRANDING
$header-branding-mr:                            1.5rem !default;
$header-branding-colour:                        $gray-900 !default;
$header-branding-font-weight:                   600 !default;
$header-branding-font-size:                     1.25rem !default;

$header-branding-img-transition:                $link-transition !default;
$header-branding-img-hover-opacity:             0.5 !default;

$header-branding-link-colour:                   $colour-base !default;
$header-branding-link-hover:                    $branding-primary !default;

//*** HEADER MENU TOGGLE
$header-menu-toggle-btn-colour:                 $branding-primary !default;
$header-menu-toggle-btn-hover-colour:           $gray-900 !default;
$header-menu-toggle-btn-transition:             $link-transition !default;
$header-menu-toggle-btn-outline:                $link-outline !default;

$header-menu-toggle-btn-svg-w:                  1.25rem !default;
$header-menu-toggle-btn-svg-h:                  1.25rem !default;

//*** HEADER MENU
$header-menu-mt-sm:                             1rem !default;
$header-menu-mt-lg:                             0 !default;

//*** HEADER MENU CONTAINER
$header-menu-container-text-align:              center !default;

//*** HEADER MENU ITEM
$header-menu-item-mt-sm:                        1rem !default;
$header-menu-item-mt-lg:                        0 !default;
$header-menu-item-mr-lg:                        1.5rem !default;

$header-menu-item-link-colour:                  $gray-900 !default;
$header-menu-item-link-tracking:                0.025em !default;
$header-menu-item-link-font-weight:             500 !default;
$header-menu-item-link-text-transform:          capitalize !default;

$header-menu-item-link-hover-colour:            $link-active-colour !default;

//*** HEADER MENU BUTTON
$header-menu-btn-padding-y-sm:                  0.25rem !default;
$header-menu-btn-padding-x-sm:                  1rem !default;

$header-menu-btn-radius:                        999px !default;
$header-menu-btn-border:                        1px solid $branding-primary !default;

$header-menu-btn-colour:                        $branding-primary !default;
$header-menu-btn-text-align:                    center !default;

$header-menu-btn-hover-bg:                      $branding-primary !default;
$header-menu-btn-hover-colour:                  $white !default;
$header-menu-btn-outline:                       $link-outline !default;

//*** HEADER SECONDARY MENU
$header-secondary-menu-mt-sm:                   2.5rem !default;
$header-secondary-menu-mt-lg:                   0 !default;


//---------- FOOTER

$footer-bg-colour:                              $gray-900 !default;
$footer-colour:                                 $white !default;

$footer-padding-y-sm:                           2rem !default;
$footer-padding-y-lg:                           2rem !default;

$footer-padding-x-sm:                           2rem !default;
$footer-padding-x-lg:                           8rem !default;


//---------- HERO FEATURE

//*** PADDING
$hero-feature-p:                                2.5rem 1rem !default;

$hero-feature-py-sm:                            3rem !default;
$hero-feature-py-lg:                            5rem !default;
$hero-feature-py-xl:                            6rem !default;

$hero-feature-px-sm:                            1.5rem !default;
$hero-feature-px-lg:                            2rem !default;

//*** BACKGROUND
$hero-feature-bg-repeat:                        no-repeat !default;
$hero-feature-bg-size:                          cover !default;
$hero-feature-bg-pos:                           center !default;
$hero-feature-bg-colour:                        $gray-200 !default;
$hero-feature-bg-blend:                         multiply !default;

//*** TEXT
$hero-feature-colour:                           $gray-600 !default;
$hero-feature-text-align:                       center !default;

$hero-feature-text-align-sm:                    center !default;
$hero-feature-text-align-lg:                    left !default;

//*** HEADING (<h2>)
$hero-feature-h2-max-w-sml:                     48rem !default;
$hero-feature-h2-mx-sm:                         auto !default;
$hero-feature-h2-mx-lg:                         0 !default;
$hero-feature-h2-tracking:                      0.025em !default;
$hero-feature-h2-font-size:                     2.25rem !default;
$hero-feature-h2-font-size-sm:                  3rem !default;
$hero-feature-h2-font-weight:                   800 !default;
$hero-feature-h2-leading:                       2.25rem !default;
$hero-feature-h2-leading-sm:                    1 !default;
$hero-feature-h2-colour:                        $gray-800 !default;

//*** PARAGRAPH
$hero-feature-p-max-width-sm:                   36rem !default;
$hero-feature-p-m:                              1.25rem auto 0 auto !default;
$hero-feature-p-mt:                             0.75rem !default;
$hero-feature-p-font-size:                      $font-size-base !default;
$hero-feature-p-font-size-sm:                   1.25rem !default;

//*** FEATURE HERO CONTAINER
$hero-feature-container-max-w:                  1280px !default;
$hero-feature-container-mx:                     auto !default;

//*** FEATURE HERO BUTTON GROUP
$hero-feature-btn-group-mt:                     1.25rem !default;
$hero-feature-btn-group-span-mt:                0.75rem !default;

$hero-feature-btn-group-mt-sm:                  2rem !default;

//*** HERO BUTTON
$hero-btn-py:                                   0.75rem !default;
$hero-btn-px:                                   2rem !default;
$hero-btn-py-md:                                0.75rem !default;
$hero-btn-px-md:                                2.5rem !default;

$hero-btn-radius:                               0.25rem !default;
$hero-btn-border:                               1px solid transparent !default;
$hero-btn-leading:                              1.5rem !default;
$hero-btn-font-weight:                          500 !default;
$hero-btn-font-size:                            $font-size-base !default;
$hero-btn-outline:                              $link-outline !default;

//*** PRIMARY HERO BUTTON
$hero-btn-primary-bg:                           $branding-primary !default;
$hero-btn-primary-colour:                       $white !default;

$hero-btn-primary-bg-hover:                     $branding-secondary !default;
$hero-btn-primary-colour-hover:                 $branding-primary !default;

//*** SECONDARY HERO BUTTON
$hero-btn-secondary-bg:                         $white !default;
$hero-btn-secondary-border-colour:              transparent !default;
$hero-btn-secondary-colour:                     $branding-primary !default;

$hero-btn-secondary-bg-hover:                   $branding-secondary !default;
$hero-btn-secondary-border-hover:               $branding-secondary !default;
$hero-btn-secondary-colour-hover:               $branding-primary !default;


//---------- PAGE CONTENT
$page-content-max-w:                            1280px !default;
$page-content-margin-y:                         3rem !default;

$page-content-padding-x:                        1rem !default;
$page-content-padding-x-lg:                     3rem !default;

$page-content-margin-x:                         auto !default;


//---------- WOOCOMMERCE

//*** NOTICE BOX
$wc-notice-box-py:                              1rem !default;
$wc-notice-box-px:                              0.875rem !default;

$wc-notice-box-radius:                          0.2rem !default;
$wc-notice-box-border:                          1px solid transparent !default;
$wc-notice-box-border-l-width:                  6px !default;

$wc-notice-box-icon-display:                    none !default;

$wc-notice-box-font-weight:                     400 !default;

//*** BADGES

// On Sale
$onsale-align:                                  middle !default;

$onsale-py:                                     0 !default;
$onsale-py-lg:                                  0 !default;

$onsale-px:                                     0.25rem !default;
$onsale-px-lg:                                  1.25rem !default;

$onsale-radius:                                 0 !default;
$onsale-bg:                                     $gray-800 !default;

$onsale-tracking:                               0.175em !default;
$onsale-font-weight:                            500 !default;
$onsale-text-transform:                         uppercase !default;
