// ---------- BREAKPOINTS
$break-sm:                                      640px !default;
$break-md:                                      768px !default;
$break-lg:                                      1024px !default;
$break-xl:                                      1280px !default;


// ---------- COLOUR SYSTEM

//*** Grayscale
$gray-100:                                      hsl(204, 47%, 98%) !default;
$gray-200:                                      hsl(210, 40%, 95%) !default;
$gray-300:                                      hsl(215, 33%, 91%) !default;
$gray-400:                                      hsl(214, 25%, 84%) !default;
$gray-500:                                      hsl(213, 20%, 69%) !default;
$gray-600:                                      hsl(215, 15%, 52%) !default;
$gray-700:                                      hsl(217, 16%, 35%) !default;
$gray-800:                                      hsl(220, 23%, 23%) !default;
$gray-900:                                      hsl(221, 27%, 14%) !default;

//*** B&W
$black:                                         hsl(0, 0%, 0%) !default;
$white:                                         hsl(0, 0%, 100%) !default;

// ---------- TYPOGRAPHY

//*** Font URL
// The $font-url needs to be commented out if no font url is to be used.

// $font-url:                                   'https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap;

$font-sans-serif:                               system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-base:                                     $font-sans-serif !default;

//*** Font Sizes
$font-size-xs:                                  0.75rem !default;
$font-size-sm:                                  0.875rem !default;
$font-size-md:                                  1rem !default;
$font-size-lg:                                  1.125rem !default;
$font-size-xl:                                  1.25rem !default;
$font-size-2xl:                                 1.5rem !default;
$font-size-3xl:                                 1.875rem !default;
$font-size-4xl:                                 2.25rem !default;
$font-size-5xl:                                 3rem !default;
$font-size-6xl:                                 4rem !default;

$font-size-base:                                $font-size-md !default;

//*** Text Colours
$colour-base:                                   $gray-900 !default;


// ---------- LINKS

//*** Link Colours
$link-active-colour:                            $branding-primary !default;
$link-hover-colour:                             $branding-secondary !default;
$link-focus-colour:                             $link-hover-colour !default;

//*** Link Decoration
$link-active-decoration:                        none !default;
$link-hover-decoration:                         none !default;
$link-focus-decoration:                         $link-hover-decoration !default;

//*** Link Outline
$link-outline:                                  none !default;

//*** Link Transition
$link-transition:                               0.25s ease all !default;


// ---------- HEADER

$header-padding-y-sml:                          2rem !default;
$header-padding-y-lrg:                          2rem !default;
$header-padding-x-sml:                          2rem !default;
$header-padding-x-lrg:                          4rem !default;

$header-mx:                                     auto !default;
$header-max-w:                                  1280px !default;

$header-bg-colour:                              $white !default;

//*** Header Branding
$header-branding-mr:                            1.5rem !default;
$header-branding-colour:                        $gray-900 !default;
$header-branding-font-weight:                   600 !default;
$header-branding-font-size:                     1.25rem !default;

$header-branding-img-height:                    2.5rem !default;
$header-branding-img-transition:                $link-transition !default;
$header-branding-img-hover-opacity:             0.5 !default;

$header-branding-link-colour:                   $colour-base !default;
$header-branding-link-hover:                    $branding-primary !default;

//*** Header Menu Toggle
$header-menu-toggle-btn-colour:                 $gray-900 !default;
$header-menu-toggle-btn-hover-colour:           $gray-900 !default;
$header-menu-toggle-btn-transition:             $link-transition !default;
$header-menu-toggle-btn-outline:                $link-outline !default;

$header-menu-toggle-btn-svg-w:                  1.25rem !default;
$header-menu-toggle-btn-svg-h:                  1.25rem !default;

//*** Header Menu
$header-menu-mt-sm:                             1rem !default;
$header-menu-mt-lg:                             0 !default;

//*** Header Menu Container
$header-menu-container-text-align:              center !default;

//*** Header Menu Item
$header-menu-item-mt-sm:                        1rem !default;
$header-menu-item-mt-lg:                        0 !default;
$header-menu-item-mr-lg:                        1.5rem !default;

$header-menu-item-link-colour:                  $gray-900 !default;
$header-menu-item-link-tracking:                0.025em !default;
$header-menu-item-link-font-weight:             400 !default;
$header-menu-item-link-text-transform:          capitalize !default;

$header-menu-item-link-hover-colour:            $link-active-colour !default;

//*** Header Menu Button
$header-menu-btn-padding-y-sm:                  0.25rem !default;
$header-menu-btn-padding-x-sm:                  1rem !default;

$header-menu-btn-border-r:                      999px !default;
$header-menu-btn-border:                        1px solid $branding-primary !default;

$header-menu-btn-colour:                        $branding-primary !default;
$header-menu-btn-text-align:                    center !default;

$header-menu-btn-hover-bg:                      $branding-primary !default;
$header-menu-btn-hover-colour:                  $white !default;
$header-menu-btn-outline:                       $link-outline !default;

//*** Header Secondary Menu
$header-secondary-menu-mt-sm:                   2.5rem !default;
$header-secondary-menu-mt-lg:                   0 !default;
