/**
 * Sets the display of the footer
 *
 * Version: 1.0.0
 */

.sc-page-footer {
  background-color: $footer-bg-colour;
  color: $footer-colour;

  a {
    color: $footer-colour;

    @include hover-focus {
      color: $gray-600;
    }
  }
}

/**
 * Sets the display of the footer container
 *
 * Version: 1.0.0
 */

.sc-page-footer-container {
  padding: $footer-padding-y-sm $footer-padding-x-sm;

  @media(min-width: $break-lg) {
    padding: $footer-padding-y-lg $footer-padding-x-lg;
  }
}

/**
 * Sets the display of the footer branding
 *
 * Version: 1.0.0
 */

.sc-footer-branding {
  img {
    width: $footer-branding-w;
  }
}

/**
 * Sets the display of footer contact info
 *
 * Version: 1.0.0
 */

.sc-contact-details {
  margin-top: 2rem;
  font-weight: 300;

  li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

/**
 * Sets the display of the footer navigation
 *
 * Version: 1.0.0
 */

.sc-footer-nav {
  margin-top: 2rem;

  li {
    margin-top: 0.25rem;

    &:first-child {
      margin-top: 0 !important;
    }
  }

  .menu-item {
    display: block !important;
    font-weight: 600 !important;
  }
}

/**
 * Sets the display of the footer opening hours
 *
 * Version: 1.0.0
 */

.sc-footer-opening-hours {
  margin-top: 2rem;
  
  ul {
    
    border-bottom: 1px solid $gray-800;
  }
  
  li {
    @include margin-y(0.5rem, 0.5rem);
    display: inline-block;

    &:nth-child(even) {
      float: right !important;
    }
  }
}

/**
 * Sets the display of the footer notices. Such as copyright and site author 
 * info.
 *
 * Version: 1.0.0
 */

.sc-footer-notices {
  margin-top: 2rem;
  text-align: center;
}

.sc-footer-copyright {
  font-weight: 600;
}

.sc-footer-author {
  margin-top: 0.5rem;
}
