/**
 * Sets the display of the footer
 *
 * Version: 1.0.0
 */

.sc-footer {
  @include padding-y(3rem, 3rem);
  background-color: $gray-900;

  a {
    color: $gray-500;
  }
  color: $gray-400;
}

/**
 * Sets the footer container
 *
 * Version: 1.0.0
 */

.sc-footer-container {
  @include padding-x(2rem, 2rem);
  @include margin-x(auto, auto);
  max-width: 1280px;
  text-align: center;
}
