.sc-header {
  @include margin-x($header-mx, $header-mx);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: $header-max-w;
  padding: $header-padding-y-sml $header-padding-x-sml;
  background-color: $header-bg-colour;

  @media(min-width: $break-lg) {
    padding: $header-padding-y-lrg $header-padding-x-lrg;
  }
}

/**
 * Site branding
 */
.sc-site-branding {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: $header-branding-mr;
  color: $header-branding-colour;

  span {
    font-weight: $header-branding-font-weight;
    font-size: $header-branding-font-size;

    img {
      transition: $header-branding-img-transition;

      @include hover-focus {
        opacity: $header-branding-img-hover-opacity;
      }
    }
  }

  a {
    color: $header-branding-link-colour;

    @include hover-focus {
      color: $header-branding-link-hover;
    }
  }
}
