.sc-header {
  @include margin-x($header-mx, $header-mx);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: $header-max-w;
  padding: $header-padding-y-sml $header-padding-x-sml;
  background-color: $header-bg-colour;

  @media(min-width: $break-lg) {
    padding: $header-padding-y-lrg $header-padding-x-lrg;
  }
}

/**
 * Site branding
 */
.sc-site-branding {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: $header-branding-img-w;
  margin-right: $header-branding-mr;
  color: $header-branding-colour;

  span {
    font-weight: $header-branding-font-weight;
    font-size: $header-branding-font-size;

    img {
      transition: $header-branding-img-transition;

      @include hover-focus {
        opacity: $header-branding-img-hover-opacity;
      }
    }
  }

  a {
    color: $header-branding-link-colour;

    @include hover-focus {
      color: $header-branding-link-hover;
    }
  }
}

/**
 * Menu toggle button
 */
.sc-header-menu-toggle {
  display: block;

  button {
    display: flex;
    align-items: center;
    color: $header-menu-toggle-btn-colour;
    transition: $header-menu-toggle-btn-transition;

    @include hover-focus {
      color: $header-menu-toggle-btn-hover-colour;
      outline: $header-menu-toggle-btn-outline;
    }
  }

  svg {
    fill: currentColor;
    width: $header-menu-toggle-btn-svg-w;
    height: $header-menu-toggle-btn-svg-h;
  }

  @media(min-width: $break-lg) {
    display: none;
  }
}

/**
 * Set the header menu
 */
.sc-header-menu {
  display: none;
  flex-grow: 1;
  width: 100%;
  margin-top: $header-menu-mt-sm;

  @media(min-width: $break-lg) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    margin-top: $header-menu-mt-lg;
  }
}

/**
 * Set header menu link item
 */
.menu-item {
  display: block;
  margin-top: $header-menu-item-mt-sm;
  letter-spacing: $header-menu-item-link-tracking;
  font-weight: $header-menu-item-link-font-weight;
  text-transform: $header-menu-item-link-text-transform;
  
  a {
    color: $header-menu-item-link-colour;

    @include hover-focus {
      color: $header-menu-item-link-hover-colour;
    }
  }

  @media(min-width: $break-lg) {
    display: inline-block;
    margin-top: $header-menu-item-mt-lg;
    margin-right: $header-menu-item-mr-lg;
  }
}
