/**
 * BADGES
 *
 * Sets the the styles for all shop badges
 *
 * Version: 1.0.0
 */

/**
 * ON SALE BADGE
 *
 * Styles the "On Sale" badge that is displayed on all product and shop pages
 *
 * Version: 1.0.0
 */

span.onsale {
  padding: $onsale-padding-y $onsale-padding-x !important;
  border-radius: $onsale-border-r !important;
  vertical-align: $onsale-vertical-align !important;
  background-color: $onsale-bg-colour !important;
  letter-spacing: $onsale-tracking !important;
  font-weight: $onsale-font-weight !important;
  text-transform: $onsale-text-transform !important;
  
  @media(min-width: $break-lg) {
    padding: $onsale-padding-y-lg $onsale-padding-x-lg !important;
  }
}
