/**
 * BUTTONS
 *
 * Sets the styles for all shop buttons.
 *
 * Version: 1.0.0
 */

/**
 * GLOBAL BUTTON
 *
 * Sets the styles for the main WooCommerce button.
 *
 * Version: 1.0.0
 */

.button {
  padding: 1rem 2rem !important;
  border-radius: 999px !important;
  background-color: $branding-primary !important;
  color: $white !important;
  letter-spacing: 0.05em;
  font-weight: 500 !important;
  text-transform: capitalize;
  text-align: center;
  transition: $link-transition !important;

  @include hover-focus {
    background-color: $branding-secondary !important;
    color: $branding-primary !important
  }
}
