/**
 * CART
 *
 * Sets all the cart styles including the cart table of contents, button styles 
 * and cart totals.
 *
 * Version: 1.0.0
 */

/**
 * Set the shop table styles
 *
 * Version: 1.0.0
 */

.shop_table {
  border: $cart-table-border !important;

  thead {
    color: $cart-table-thead-colour;
    letter-spacing: $cart-table-thead-tracking !important;
    font-weight: $cart-table-thead-font-weight;
    text-transform: $cart-table-thead-text-transform;
  }

  tbody {
    th {
      border: $cart-table-tbody-th-border !important;  
    }

    border: $cart-table-tbody-border !important;

    tr {
      &:nth-child(even) {
        background-color: $cart-table-tbody-tr-even-bg;
      }
    }

    td {
      @include padding-y(
        $cart-table-tbody-td-py, 
        $cart-table-tbody-td-py
      );

      border-top: $cart-table-tbodt-td-border-t !important;
    }
  }

  /**
   * Reduce the size of the cart product thumbnail.
   *
   * Version: 1.0.0
   */

  .product-thumbnail {
    img {
      width: $cart-thumb-img-w;
      border-radius: $cart-thumb-img-radius;
      border: $cart-thumb-img-border;
    }
  }

  /**
   * Set the remove product button
   *
   * Version: 1.0.0
   */
  
  .product-remove {
    width: $cart-remove-product-w !important;
    padding-right: $cart-remove-product-pr !important;
    
    a {
      padding-right: $cart-remove-link-pr !important;
      background-color: $cart-remove-link-bg;
      color: $cart-remove-link-colour !important;
      font-weight: $cart-remove-link-font-weight !important;
      font-size: $cart-remove-link-font-size !important;

      @include hover-focus {
        background-color: $cart-remove-link-hover-bg;
        color: $cart-remove-link-hover-colour !important;
      }
    }
  }

  /**
   * Set the product name and set subtotal front weight to 700
   *
   * Version: 1.0.0
   */

  .product-name {
    a {
      color: $cart-product-name-link-colour;

      @include hover-focus {
        color: $cart-product-name-link-hover-colour;
      }
    }
  }
  
  .product-subtotal {
    font-weight: $cart-product-subtotal-font-weight;
  }
}

/**
 * Sets the cart actions styles
 *
 * Version: 1.0.0
 */

td.actions {
  background-color: $cart-actions-area-bg !important;

  .input-text {
    width: $cart-actions-input-width !important;
    padding: $cart-actions-input-p !important;
    margin-right: $cart-actions-input-mr;
  }

  .button {
    border-radius: $cart-actions-btn-radius !important;
  }
}
