/**
 * CART
 *
 * Sets all the cart styles including the cart table of contents, button styles 
 * and cart totals.
 *
 * Version: 1.0.0
 */

/**
 * Set the shop table styles
 *
 * Version: 1.0.0
 */

.shop_table {
  border: 0 !important;

  thead {
    color: $branding-primary;
    letter-spacing: 0.25em !important;
    font-weight: 700;
    text-transform: uppercase;
  }

  tbody {
    th {
      border: 0 !important;  
    }

    border: 0 !important;

    tr {
      &:nth-child(even) {
        background-color: $gray-100;
      }
    }

    td {
      @include padding-y(1.25rem, 1.25rem);

      border-top: 0 !important;
    }
  }

  /**
   * Reduce the size of the cart product thumbnail.
   *
   * Version: 1.0.0
   */

  .product-thumbnail {
    img {
      width: 5rem;
      border-radius: 999px;
      border: 1px solid $gray-300;
    }
  }

  /**
   * Set the remove product button
   *
   * Version: 1.0.0
   */
  
  .product-remove {
    width: 0 !important;
    padding-right: 0 !important;
    
    a {
      padding-right: 0 !important;
      background-color: transparent;
      color: $gray-500 !important;
      font-weight: 100 !important;
      font-size: 2rem !important;

      @include hover-focus {
        background-color: transparent;
        color: $gray-700 !important;
      }
    }
  }

  /**
   * Set the product name and set subtotal front weight to 700
   *
   * Version: 1.0.0
   */

  .product-name {
    a {
      color: $gray-700;

      @include hover-focus {
        color: $link-active-colour;
      }
    }
  }
  
  .product-subtotal {
    font-weight: 700;
  }
}

/**
 * Sets the cart actions styles
 *
 * Version: 1.0.0
 */

td.actions {
  background-color: $white !important;

  .input-text {
    width: inherit !important;
    padding: 0.75rem 0.75rem !important;
    margin-right: 1rem;
    font-weight: 700;
    font-family: $font-monospace;
  }

  .button {
    border-radius: 0.25rem !important;
  }
}

/**
 * Sets the cart totals styles
 *
 * Version: 1.0.0
 */

.cart_totals {
  h2 {
    color: $branding-primary;
    letter-spacing: 0.125em;
    font-weight: 700;
    font-size: $font-size-xl;
    text-transform: uppercase;
  }
}

.cart-subtotal,
.cart-discount,
.order-total {
  th,
  td {
    border-top: 0 !important;
  }
  
  td {
    &:nth-child(even) {
      text-align: right;
    }
  }
}

.woocommerce-remove-coupon {
  color: $gray-700;
  font-weight: 700;
  font-size: $font-size-sm !important;
  text-transform: uppercase;

  @include hover-focus {
    color: $link-active-colour;
  }
}
