/**
 * CHECKOUT
 *
 * Sets the styles for the checkout form.
 *
 * Version: 1.0.0
 */

.checkout {
  h3 {
    @include margin-y(1rem, 1rem);

    color: $branding-primary;
    letter-spacing: 0.125em;
    font-weight: 700;
    font-size: $font-size-lg;
    text-transform: uppercase;
  }
}
