/**
 * CHECKOUT
 *
 * Sets the styles for the checkout form.
 *
 * Version: 1.0.0
 */

#payment {
  background-color: $white !important;
}

.checkout {
  h3 {
    @include margin-y(1rem, 1rem);

    color: $branding-primary;
    letter-spacing: 0.125em;
    font-weight: 700;
    font-size: $font-size-lg;
    text-transform: uppercase;
  }
}

/**
 * Sets the checkout coupon entry form
 *
 * Version: 1.0.0
 */

.checkout_coupon {
  padding: 1rem !important;
  margin-top: -1rem !important;
  border-radius: 0 !important;
  border-color: $gray-300 !important;
  background-color: $gray-100;
  
  p {
    margin-bottom: 1rem;
    font-weight: 700 !important;
    text-transform: uppercase;
  }
  
  .input-text {
    margin-right: 0;
  }

  .button {
    margin-left: -3.5rem !important;
  }
}

/**
 * Sets the cart totals styles
 *
 * Version: 1.0.0
 */

 .cart_totals {
  h2 {
    color: $branding-primary;
    letter-spacing: 0.125em;
    font-weight: 700;
    font-size: $font-size-xl;
    text-transform: uppercase;
  }
}

.cart-subtotal,
.cart-discount,
.order-total {
  th,
  td {
    border-top: 0 !important;
  }
  
  td {
    &:nth-child(even) {
      text-align: right;
    }
  }
}

/**
 * Sets the styles for the remove coupon button.
 *
 * Version: 1.0.0
 */

.woocommerce-remove-coupon {
  color: $gray-700;
  font-weight: 700;
  font-size: $font-size-sm !important;
  text-transform: uppercase;

  @include hover-focus {
    color: $link-active-colour;
  }
}

/**
 * Sets the styles for the payment method and place order section
 *
 * Version: 1.0.0
 */

.methods,
.place-order {
  border-radius: 0 !important;
  border: 0 !important;
  background-color: $white !important;

  .button {
    margin-top: 2rem !important;
  }
}

/**
 * Sets the privacy policy text styles.
 *
 * Version: 1.0.0
 */

.woocommerce-privacy-policy-text {
  margin-top: -1rem;
  color: $gray-500;
  font-size: $font-size-sm;

  a {
    color: $gray-700;

    @include hover-focus {
      text-decoration: underline;
    }
  }
}

/**
 * Sets the payment method styles.
 *
 * Version: 1.0.0
 */

.woocommerce-checkout-payment {
  li {
    list-style-type: none;
  }
}

.payment_method_square_credit_card {
  img {
    display: inline-block;
    margin-right: 1rem !important;
  }
}

.payment_box {
  background: transparent !important;

  &:before {
    display: none !important;
  }

  @media(min-width: $break-lg) {
    width: 50% !important;
  }
}
