/**
 * FORMS
 *
 * Sets the styles for form components throughout the shop, i.e. the quantity 
 * counter.
 *
 * Version: 1.0.0
 */

/**
 * Sets the text input field
 *
 * Version: 1.0.0
 */

.input-text {
  padding: 0.75rem 0.75rem !important;
  border: 1px solid $gray-300;
  color: $gray-500;

  @include focus {
    outline: none !important;
    border-color: $gray-500;
    color: $gray-700;
    transition: $link-transition;
  }
}

label {
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: $font-size-sm;
  text-transform: uppercase;
}

#order_comments {
  min-height: 10rem;
}
