/**
 * MY ACCOUNT
 *
 * Sets the styles for 'My Account' dashboard and login form.
 *
 * Version: 1.0.0
 */

/**
 * Set the 'My Account' login page styles
 *
 * Version: 1.0.0
 */

/**
 * Hide the login heading on the login form
 *
 * Version: 1.0.0
 */
.woocommerce {
  h2 {
    display: none;
  }
}


form.login {
  margin: auto !important;
  border: 0 !important;
  text-align: center !important;

  .password-input {
    font-family: $font-monospace;
  }
  
  .woocommerce-form-login__rememberme {
    display: none !important;
  }

  .button {
    @include margin-x(auto, auto);
    float: none !important;
    margin-top: 1rem !important;
  }

  .lost_password {
    margin-top: 1rem;
    font-size: $font-size-sm;

    a {
      color: $gray-500;
    }
  }

  @media(min-width: $break-sm) {
    width: 50% !important;
  }

  @media(min-width: $break-lg) {
    max-width: 40%;
  }
}

/**
 * Make the dashboard navigation and content 100% width on viewports up to 
 * $break-lg.
 *
 * Version: 1.0.0
 */

.woocommerce-MyAccount-navigation,
.woocommerce-MyAccount-content {
  display: block;
  width: 100%;

  @media(min-width: $break-lg) {
    display: inline-block;
    vertical-align: top;
  }
}

/* Dashboard Navigation */
.woocommerce-MyAccount-navigation {
  padding-right: 1rem;
  font-weight: 600;

  a {
    display: block;
    width: 100%;
    color: $branding-primary;

    @include hover-focus {
      opacity: 0.6;
      margin-left: 0.5rem;
    }
  }

  ul {
    display: block;
  }

  li {
    @include padding-y(0.5rem, 0.5rem);

    padding-right: 2rem !important;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $gray-300;

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  @media(min-width: $break-lg) {
    width: 25%;
    border-bottom: none;
  }
}

/* Dashboard Content */
.woocommerce-MyAccount-content {
  p {
    margin-bottom: 1rem;
  }

  a {
    color: $gray-700;
    font-weight: 600;

    @include hover-focus {
      color: $link-active-colour;
    }
  }

  @media(min-width: $break-lg) {
    width: 74%;
  }

  @media(min-width: $break-xl) {
    width: 74.5%;
  }

  .woocommerce-Address-title {
    h3 {
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 1rem;
      letter-spacing: 0.125rem;;
      font-size: $font-size-2xl;
      text-transform: uppercase;
    }

    a {
      @include shop-btn(0.25rem, 1rem);

      margin-bottom: -10px !important;
      border-radius: 0.25rem;
      border: 1px solid $branding-primary !important;
      background-color: transparent !important;
      color: $branding-primary !important;

      @include hover-focus {
        border-color: $branding-secondary !important;
      }
    }
  }

  /**
   * Set the password change styles
   *
   * Version: 1.0.0
   */
  legend {
    @include padding-y(2rem, 1rem);

    letter-spacing: 0.125rem;
    font-size: $font-size-xl;
    text-transform: uppercase;
  }

  /**
   * Add top margin to the "Save Changes" button to add some speration from the 
   * "Confirm New Pass" input field
   *
   * Version: 1.0.0
   */
  
  .button {
    margin-top: 1rem !important;
  }
}

