/**
 * MY ACCOUNT
 *
 * Sets the styles for 'My Account' dashboard and login form.
 *
 * Version: 1.0.0
 */

/**
 * Set the 'My Account' login page styles
 *
 * Version: 1.0.0
 */

form.login {
  width: 40% !important;
  margin: auto !important;
  border: 0 !important;
  text-align: center !important;

  .password-input {
    font-family: $font-monospace;
  }
  
  .woocommerce-form-login__rememberme {
    display: none !important;
  }

  .button {
    @include margin-x(auto, auto);
    float: none !important;
    margin-top: 1rem !important;
  }

  .lost_password {
    margin-top: 1rem;
    font-size: $font-size-sm;

    a {
      color: $gray-500;
    }
  }
}

/**
 * Make the dashboard navigation and content 100% width on viewports up to 
 * $break-lg.
 *
 * Version: 1.0.0
 */

.woocommerce-MyAccount-navigation,
.woocommerce-MyAccount-content {
  display: block;
  width: 100%;

  @media(min-width: $break-lg) {
    display: inline-block;
    vertical-align: top;
  }
}

/* Dashboard Navigation */
.woocommerce-MyAccount-navigation {
  margin-bottom: 2rem;
  border-bottom: 1px solid $gray-300;

  li {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  @media(min-width: $break-lg) {
    width: 25%;
    border-bottom: none;
  }
}

/* Dashboard Content */
.woocommerce-MyAccount-content {
  p {
    margin-bottom: 1rem;
  }

  @media(min-width: $break-lg) {
    width: 74%;
  }

  @media(min-width: $break-xl) {
    width: 74.5%;
  }
}

