/**
 * Notices
 *
 * Sets the default styles for a WooCommerce notice box.
 *
 * Version: 1.0.0
 */
.woocommerce-info,
.woocommerce-success,
.woocommerce-warning,
.woocommerce-error,
.woocommerce-message {
  @include wc-notice-box(
    $padding-y: 1rem,
    $padding-x: 2rem,
    $border-r: 0.25rem,
    $tracking: null,
    $font-weight: 700,
    $icon-display: none
  );

  list-style-type: none !important;

  a.button {
    display: none;
  }
}

.woocommerce-message {
  border-top-color: $colour-success;

  a {
    color: $gray-700;

    @include hover-focus {
      color: $link-active-colour;
    }
  }
}

/**
 * Create an each loop to loop through each colour state to set the state class 
 * name, border colour and state colour values.
 *
 * Version: 1.0.0
 */

@each $colour-name, $colour-value in $state-colours {
  .woocommerce-#{$colour-name} {
    border-top-color: $colour-value;
  }
}
