/**
 * Notices
 *
 * Sets the default styles for a WooCommerce notice box.
 *
 * Version: 1.0.0
 */
.woocommerce-info,
.woocommerce-success,
.woocommerce-warning,
.woocommerce-error {
  @include wc-notice-box(
    $padding-y: 1rem,
    $padding-x: 2rem,
    $border-r: 0.25rem,
    $tracking: 0.05em,
    $font-weight: 700,
    $icon-display: none
  );

  text-align: center;

  a.button {
    display: none;
  }
}

/**
 * Create an each loop to loop through each colour state to set the state class 
 * name, border colour and state colour values.
 *
 * Version: 1.0.0
 */

@each $colour-name, $colour-value in $state-colours {
  .woocommerce-#{$colour-name} {
    border-top-color: $colour-value;
  }
}
