/**
 * PRODUCT
 *
 * Sets the styles of a single product page.
 *
 * Version: 1.0.0
 */

/**
 * Styles the product summary section.
 *
 * Version: 1.0.0
 */

.summary {
  h1 {
    color: $branding-primary;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: $font-size-2xl;
  }

  p {
    margin-top: 1rem;
    line-height: 2;
    
    small {
      color: $gray-500;
      line-height: 1 !important;
    }

    sup {
      font-weight: 700;
    }
  }

  /**
   * Sets the stock count message
   *
   * Version: 1.0.0
   */

  .stock {
    margin-top: 1rem;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: $font-size-base !important;
    text-transform: uppercase;
  }

  .in-stock {
    color: $colour-success !important;
  }

  .out-of-stock {
    color: $colour-error !important;
  }

  /**
   * Adds spacing to the add to cart and quantity counter sections
   *
   * Version: 1.0.0
   */

  form {
    @include margin-y(2rem, 2rem);
  }

  /**
   * Make the quantity counter to match the height of the "Add to Cart" button 
   * and add seperation from the "Add to Cart" button.
   *
   * Version: 1.0.0
   */

  .quantity .qty {
    @include padding-y(0.75rem, 0.75rem);
    margin-right: 1rem;
  }
}

/**
 * Sets the product meta styles. This styles the SKU and category details
 *
 * Version: 1.0.0
 */

.product_meta {
  .sku_wrapper {
    margin-right: 1rem;
    color: $gray-500;
    letter-spacing: 0.05em;
  }

  .sku {
    color: $gray-700;
  }

  .posted_in {
    color: $gray-500;

    a {
      color: $gray-700;

      @include hover-focus {
        color: $link-active-colour;
      }
    }
  }
}

/**
 * Styles the product tabs and content.
 *
 * Version: 1.0.0
 */

.woocommerce-tabs {
  margin-top: 2rem !important;
  line-height: 2;

  h2 {
    margin-top: 0 !important;
    margin-bottom: 2rem;
    color: $branding-primary;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: $font-size-2xl;
    text-transform: capitalize;

    @media(min-width: $break-lg) {
      display: none !important;
      margin-bottom: 0;
    }
  }

  .tabs {
    padding-left: 0 !important;
    border-bottom: transparent !important;

    li {
      display: block;
      width: 100%;
      border-radius: 0 !important;
      border: 0 !important;
      border-bottom: 1px solid $gray-200 !important;
      background: transparent !important;

      &.active {
        border-color: $gray-900 !important;

        a {
          color: $gray-900 !important;
        }
      }

      &::before,
      &::after {
        display: none;
      }

      @media(min-width: $break-lg) {
        display: inline-block;
        width: auto;
      }
    }

    a {
      color: $gray-600 !important;
      letter-spacing: 0.125em;
      font-weight: 600 !important;
      text-transform: capitalize;
      transition: 0.25s ease-in-out;
    }
  }
}

/**
 * Sets the product review styles.
 *
 * Version: 1.0.0
 */
.comment-text {
  margin-bottom: 2rem;
  border-radius: 0.25rem !important;
  border-color: $gray-300 !important;
  background-color: $gray-100 !important;

  .meta {
    color: $gray-500 !important;
  }
}
