/**
 * PRODUCT
 *
 * Sets the styles of a single product page.
 *
 * Version: 1.0.0
 */

/**
 * Styles the product summary section.
 *
 * Version: 1.0.0
 */

.summary {
  h1 {
    color: $branding-primary;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: $font-size-2xl;
  }

  p {
    margin-top: 1rem;
  }

  /**
   * Sets the stock count message
   *
   * Version: 1.0.0
   */
  .stock {
    margin-top: 1rem;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: $font-size-base !important;
    text-transform: uppercase;
  }

  .in-stock {
    color: $colour-success !important;
  }

  .out-of-stock {
    color: $colour-error !important;
  }

  /**
   * Adds spacing to the add to cart and quantity counter sections
   *
   * Version: 1.0.0
   */
  form {
    @include margin-y(2rem, 2rem);
  }
}
