/**
 * PRODUCTS
 *
 * Styles the .products <ul>. This defines the appearance of each product on 
 * the product archive page.
 *
 * Version: 1.0.0
 */

.products {
  font-weight: 700;

  a {
    color: $gray-900;

    @include hover {
      img {
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: ease-in-out !important;
        transition-duration: 0.25s;
        transform: scale(1.075);
      }
    }
  }

  li {
    margin-bottom: 3rem !important;
  }
  
  .star-rating {
    color: $gray-400;
  }
}

.woocommerce-loop-product__title {
  display: block !important;
}
